* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    overflow-x: hidden;
}

.parallax {
    /* Christmas-themed background image */
    background-image: url('https://images.indianexpress.com/2020/12/Christmas-Wishes-Feature.jpg?w=414');
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;

}

.parallax2 {
    /* Christmas-themed background image */
    background-image: url('https://thumbs.dreamstime.com/b/wooden-merry-christmas-sign-blue-wood-background-wooden-letters-spelling-merry-christmas-blue-painted-wood-background-326423704.jpg');
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;

}


.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

h1, h2 {
    font-size: 4em;
    color: #2C3E50;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

p {
    font-size: 1.5em;
    color: rgb(41, 155, 81);
    font-family: "Noto Serif", serif;
    text-align: center;
}

h1 {
    color: rgb(177, 43, 43);
    text-align: center;
   
}

/* p span{
    margin-right: 20px;
    color: green;
    font-size: 20px;
} */

h2 {
    color: #1c721c;
    font-size: 40px;
    text-align: center;
}
